<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push; autoplay: true">

    <ul class="uk-slideshow-items">
        <li>
            <img src="images/sadc4.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="x: 100,-100">EDF 11 Project</h2>
                <p uk-slideshow-parallax="x: 200,-200"></p>
            </div>
        </li>
        <li>
            <img src="images/sadc2.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="x: 100,-100"></h2>
                <p uk-slideshow-parallax="x: 200,-200"></p>
            </div>
        </li>
        <li>
            <img src="images/sadc3.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0"></h2>
                <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"></p>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
<div>
<article class="uk-article" >

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">Welcome to SADC AIMS</a></h1>

    <p class="uk-text-lead">The aim of the SADC Agricultural Information Management System (AIMS) is to enhance access to information on agricultural production, productivity, sustainability and competitiveness for evidence-based decision making.</p>

    <p> Agriculture plays a central and strategic role in SADC’s development as it is the key to economic growth, increased incomes, improved living standards, poverty eradication, and enhanced food security in most if not all SADC member states. It is regarded as strategic to the socio-economic growth contributing in the different Member States between 4% and 27% of Gross Domestic Product, industrialization and political stability in the region. The sector is also a major source of exports in several countries contributing on average about 13% to total export earnings and about 66% to intra-regional trade.  </p>

<p style="margin-bottom: 20px;"> <strong> AIMS </strong> provides information on agricultural production, socio economic information, plant pests, and animal diseases outbreaks that could affect SADC member states from getting access to market.  AIMS provides a useful mechanism to track the progress achieved so far in the implementation of the Regional Agricultural Policy (RAP). </p>

</article>
</div>
