<button class="uk-button uk-button-default" type="button">Production</button>
<div uk-dropdown="animation: uk-animation-slide-top-small; duration: 650">
    <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-nav-header">Livestock Database</li>
        <li><a href="<%= `/production/${memberState._id}/livestock/new` %>">Add Livestock Information</a></li>
        <li><a href="<%= `/production/${memberState._id}/livestock/view` %>">View Livestock Information</a></li>
        <li><a href="<%= `/production/${memberState._id}/animalslaughtered/new` %>">Add Livestock Slaughter Information</a></li>
	<!--
        <li class="uk-nav-header">Header</li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#">Item</a></li>
    -->
    </ul>
</div>
<button class="uk-button uk-button-default" type="button">Trade</button>
<!-- <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 650"> -->
    <!--
    <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-active"><a href="#">Active</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-header">Header</li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#">Item</a></li>
    </ul>
-->
<!-- </div> -->
<button class="uk-button uk-button-default" type="button">Health</button>
<!-- <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 650"> -->
    <!--
    <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-active"><a href="#">Active</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-header">Header</li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#">Item</a></li>
    </ul>
-->
<!-- </div> -->
<button class="uk-button uk-button-default" type="button">Forestry</button>
<!-- <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 650"> -->
    <!--
    <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-active"><a href="#">Active</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-header">Header</li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#">Item</a></li>
    </ul>
-->
<!-- </div> -->

<button class="uk-button uk-button-default" type="button">Market</button>
<!-- <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 650"> -->
    <!--
    <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-active"><a href="#">Active</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-header">Header</li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#">Item</a></li>
    </ul>
-->
<!-- </div> -->

