<ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
    <li><a href="#">Table View</a></li>
    <li><a href="#">Analytics</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li>


    Table View





    </li>
    <li>


    Data Analytics



    </li>
    
</ul>
